<section id="content">
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="{:U('Home/Index/index')}">背包客</a></li>
      <li><a href="{:U('Home/Goods/category')}?tid={$tid}">{$typename}</a></li>
      <li>{$goodsmsg.gname}</li>
    </ol>

    <div class="row">
      <div class="col-sm-5">

        <div id="product-large" class="owl-carousel">
          <volist name="goodsimgsarr" id="bimgvo">
            <div class="item"><img src="__PUBLIC__/pic/{$bimgvo}"></div>
          </volist>
        </div>
        <div id="product-thumb" class="owl-carousel">
          <volist name="goodsimgsarr" id="bimgvo">
            <div class="item"><img src="__PUBLIC__/pic/{$bimgvo}"></div>
          </volist>
        </div>

      </div>
      <div class="col-sm-7 summary entry-summary">

        <h1 class="product_title">{$goodsmsg.gname}</h1>

        <p class="price">
          <sup>￥</sup><span class="amount">{$goodsmsg.gprice}</span>&nbsp;&nbsp;<strike><sup>￥</sup>{$goodsmsg.goldprice}</strike>
        </p>

        <h3>描述</h3>

        <p>{$goodsmsg.gdetail}</p>

        <hr>

        <h3>联系信息</h3>

        <div class="variations">
          <div class="row">
            <div class="col-sm-6">
              <span>卖家：</span><span>{$goodsmsg.gadname}</span>
            </div>
            <div class="col-sm-6">
              <span>联系方式：</span><span>{$goodsmsg.gadtel}</span>
            </div>
          </div>
        </div>
        <div class="variations">
          <div class="row">
            <div class="col-sm-6">
              <span>发布者：</span><span><a href="{:U('Home/Goods/user')}?uid={$uname.uid}">{$uname.uname}</a></span>
            </div>
            <div class="col-sm-6">
              <span>发布日期</span><span>{$goodsmsg.gcreate_time}</span>
            </div>
          </div>
        </div>

        <div class="quantity buttons_added">
        <input type="hidden" id="gcounts" value="{$goodsmsg.gcounts}" />
          <button class="minus"><i class="fa fa-minus"></i></button>
          <input type="" id="Qty" class="qty text form-control" value="1">
          <button class="plus"><i class="fa fa-plus"></i></button>
        </div>

        <a href="javascript:addCart({$goodsmsg.gid});" class="btn btn-config btn-lg" id="add-to-cart">加入爱包</a>
        
      </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs product-tabs">
      <li class="active"><a href="#description" data-toggle="tab">描述</a></li>
      <present name="Think.session.logineduser">
        <li><a href="#reviews" data-toggle="tab">评论 ({$mcount})</a></li>
        <else />
      </present>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="description">
        <p>{$goodsmsg.gdetail}</p>
      </div>
      <present name="Think.session.logineduser">
        <div class="tab-pane" id="reviews">

          <div id="reviews">
            <ol class="commentlist">
              <volist name="msglist" id="msgvo">
                <li class="comment">
                  <div class="comment_container">
                    <img src="__PUBLIC__/assets/{$msgvo.uavatar}" class="avatar">
                    <div class="comment-text">
                      <h5 class="meta">{$msgvo.uname}<span>&mdash; {$msgvo.mcreate_time}</span></h5>                
                      <p>{$msgvo.mcontent}</p>
                    </div>
                  </div>
                </li>
              </volist>
            </ol>
          </div>
          <hr>
          <div id="review_form">
            <h3 id="reply-title" class="comment-reply-title">问问</h3>
            <p class="comment-form-comment"><textarea name="review" id="question" class="form-control" cols="30" rows="5" placeholder="Your Question"></textarea></p>
            <p class="form-submit"><button class="btn btn-config btn-lg" onclick="addQuestion({$goodsmsg['gid']},{$uid});">提交</button></p>
          </div>
        </div>
        <else />
      </present>
    </div>

    <div class="related">
      <h2>你可能还喜欢这些</h2>
      <ul class="products row">
        <volist name="goodsmsg4" id="vo">
          <li class="col-sm-3 first">
            <div class="product">
              <div class="thumbnail">
                <a href="{:U('Home/Goods/product')}?gid={$vo.gid}"><img src="__PUBLIC__/pic/{$vo.gimgarray}" alt=""></a>
                <a href="javascript:addCart({$vo.gid});" class="add-to-cart" title="Add to Cart">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
              <hr>
              <div class="title">
                <h3><a href="#">{$vo.gname}</a></h3>
                <p>by {$vo.gadname}</p>
              </div>
              <span class="price">￥{$vo.gprice}</span>
            </div>
          </li>
        </volist>
      </ul>
    </div>

  </div>
</section>

<!-- ========== CONTENT END ========== -->
