<section id="content">
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="{:U('Home/Index/index')}">背包客</a></li>
      <li>关于</li>
    </ol>

    <div class="row">
      <div class="col-sm-5">
        <img src="__PUBLIC__/img/big-logo.png" class="img-responsive" alt="">
        <div class="gap-20"></div>
      </div>
      <div class="col-sm-7">

        <h1>关于</h1>

        <p>这些年来，<strong>在校园之内，越来越多的学生</strong>拥有很多不需要的东西，扔掉未免可惜，所以我们创建这样一个平台，让学生可以发布自己不需要的东西的信息，然后学生可以以一个合适的价钱收购。</p>

        <p>本平台主要面对校园学生，希望越来多的学校可以加入我们，最终成为一个综合的二手交易平台。</p>

        <p><strong>背包客Backpacker-校园二手商品信息发布平台</strong>，本着简洁大气的理念。页面首页显示最新上架的二手物品，让大家快速了解网站最新内容。多种类的二手商品，涵盖了学习资料，衣服/化妆，数码配件，娱乐物品等等。简洁的排版让用户一目了然看到自己想要的信息。用户通过登陆之后，还可以将商品加入购物车。同时为了更加的人性化，我们添加了联系我们和博客论坛等模块，只为了解决用户在使用时的问题。总体来说，我们的界面清晰而不冗余，简洁而又全面，在最大程度上实现了信息化和人性化。</p>

        <blockquote>
         如今社会，学生的闲置物品具有高的利用价值。本平台不仅方便我们校园的学生整理自己的个人空间，同时可以帮助同学们售卖和收购合适的物品，极大的提升闲置物品利用率，进一步提升个人生活质量。对社会资源利用率也有一定的促进作用。
          <cite>&mdash; 意义</cite>
        </blockquote>

      </div>
    </div>

    <div class="gap-40"></div>
    <h2>Our Team</h2>
    <div class="gap-20"></div>

    <div class="row">
      <div class="col-sm-4">
        <dl class="staff">
          <dt><img src="__PUBLIC__/img/images/CEO/1.jpg" alt=""></dt>
          <dd>
            <h3 class="position">
              张超 <span>前台</span>
            </h3>
            <p>这次运用Bootstrap框架，也是考虑了开发时间与浏览器兼容问题。并在页面中优化且加入了更加人性化的体验</p>
            <ul class="social-profiles">
              <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="col-sm-4">
        <dl class="staff">
          <dt><img src="__PUBLIC__/img/images/CEO/2.jpg" alt=""></dt>
          <dd>
            <h3 class="position">
              师鹏斐 <span>后台</span>
            </h3>
            <p>Thinkphp的确对项目开发有很大帮助，开发速度很快</p>
            <ul class="social-profiles">
              <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="col-sm-4">
        <dl class="staff">
          <dt><img src="__PUBLIC__/img/images/CEO/3.jpg" alt=""></dt>
          <dd>
            <h3 class="position">
              张高斐 <span>美工</span>
            </h3>
            <p>对整体网站颜色的配色，使网站平易近人</p>
            <ul class="social-profiles">
              <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
    <div class="gap-60"></div>
    </div>
  <div class="container">

    <div class="gap-50"></div>
    <h2>我们的技能</h2>
    <div class="gap-30"></div>

    <div class="row">
      <div class="col-sm-4">
        <h3 class="unbranded">HTML、CSS、jQuery</h3>
        <div class="gap-15"></div>
        <p>利用PS、AI进行logo的设计，在熟悉HTML、CSS、JS三大前端语言的情况下，在Bootstrap前端框架对页面进行整体的排布，调整，融合，做出高端大气的动态效果。</p>
      </div>
      <div class="col-sm-4">
        <h3 class="unbranded">PHP、MySQL & Ubuntu</h3>
        <div class="gap-15"></div>
        <p>使用小型企业都在使用的MVC框架—Thinkphp一个开源轻量级PHP框架。保持出色的性能和至简的代码的同时，搭建在Ubuntu上的Nginx高并发服务器提供后台保障，提高服务器接收数据的能力，再加上MySQL开源优秀的数据库软件，组成的LNMP环境，足矣应对大多数情况。</p>
      </div>
      <div class="col-sm-4">
        <h3 class="unbranded">Ajax异步交互技术</h3>
        <div class="gap-15"></div>
        <p>提升用户体上面，页面的无刷新技术是关键的技术点，也是难点。在网站中提供了用户前台与后台管理的界面，方便用的添加商品，修改商品。 </p>
      </div>
    </div>

  </div>
</section>
