<section id="content">
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li>Blog</li>
    </ol>

    <div class="row">

      <!-- Posts Start -->
      <div class="col-sm-9">

        <article class="post">
          <h2 class="entry-title"><a href="post.html">Default Post</a></h2>
          <div class="entry-meta">
            <span class="date"><i class="fa fa-calendar"></i>December 7, 2013</span>
            <span class="author"><i class="fa fa-user"></i>By admin</span>
            <span class="comments"><i class="fa fa-comment"></i><a href="post.html/index.html#comments">5 Comments</a></span>
            <span class="entry-categories"><i class="fa fa-tag"></i>Posted in:  <a href="post.html">Business</a></span>
            <span class="entry-tags"><i class="fa fa-tags"></i>Tags: <a href="post.html">theme</a>, <a href="post.html">marketing</a></span>
          </div>
          <div class="post-thumb">
            <img src="http://placehold.it/848x375" alt="">
          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer felis risus, suscipit vel luctus in, pellentesque et lectus. Nunc lacinia ac urna id laoreet. Phasellus congue, libero id ornare varius, nibh risus volutpat ligula, eget pulvinar lacus erat nec lectus. Aliquam a enim sit amet erat sollicitudin aliquet. Fusce venenatis dictum turpis, in congue velit condimentum vitae. Nulla ligula diam, rhoncus non elit vel, pharetra tincidunt felis. Suspendisse convallis metus ac nisl tristique luctus.</p>
          </div>
          <div class="post-more">
            <a href="post.html" class="btn btn-config">Read More</a>
          </div>
        </article>

        <article class="post">
          <h2 class="entry-title"><a href="post.html">Gallery Post</a></h2>
          <div class="entry-meta">
            <span class="date"><i class="fa fa-calendar"></i>December 7, 2013</span>
            <span class="author"><i class="fa fa-user"></i>By admin</span>
            <span class="comments"><i class="fa fa-comment"></i><a href="post.html/index.html#comments">5 Comments</a></span>
            <span class="entry-categories"><i class="fa fa-tag"></i>Posted in:  <a href="post.html">Business</a></span>
            <span class="entry-tags"><i class="fa fa-tags"></i>Tags: <a href="post.html">theme</a>, <a href="post.html">marketing</a></span>
          </div>
          <div class="post-thumb">
            
            <div id="banner" class="carousel slide">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#banner" data-slide-to="0" class="active"></li>
                <li data-target="#banner" data-slide-to="1"></li>
                <li data-target="#banner" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="http://placehold.it/848x375" alt="">
                </div>
                <div class="item">
                  <img src="http://placehold.it/848x375" alt="">
                </div>
                <div class="item">
                  <img src="http://placehold.it/848x375" alt="">
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#banner" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
              <a class="right carousel-control" href="#banner" data-slide="next"><i class="fa fa-chevron-right"></i></a>

            </div>

          </div>
          <div class="entry-content">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris pretium neque imperdiet semper pellentesque. Proin bibendum, quam vel egestas ullamcorper, sapien orci eleifend nisl, placerat tincidunt quam nibh ut purus. Integer quam purus, scelerisque vitae aliquam sed, tincidunt eget libero. Morbi nunc enim, rhoncus ut rutrum vitae, dapibus at eros.</p>
          </div>
          <div class="post-more">
            <a href="post.html" class="btn btn-config">Read More</a>
          </div>
        </article>

        <article class="post">
          <h2 class="entry-title"><a href="post.html">Another Post</a></h2>
          <div class="entry-meta">
            <span class="date"><i class="fa fa-calendar"></i>December 7, 2013</span>
            <span class="author"><i class="fa fa-user"></i>By admin</span>
            <span class="comments"><i class="fa fa-comment"></i><a href="post.html/index.html#comments">5 Comments</a></span>
            <span class="entry-categories"><i class="fa fa-tag"></i>Posted in:  <a href="post.html">Business</a></span>
            <span class="entry-tags"><i class="fa fa-tags"></i>Tags: <a href="post.html">theme</a>, <a href="post.html">marketing</a></span>
          </div>
          <div class="post-thumb">
            <img src="http://placehold.it/848x375" alt="">
          </div>
          <div class="entry-content">
            <p>Nam ac neque pulvinar, tempor nulla ac, dignissim eros. Ut leo tellus, interdum tincidunt dignissim eget, porta non turpis. Proin urna mauris, luctus ut libero nec, fermentum dictum massa. Proin purus nisi, cursus sit amet nisi ac, facilisis feugiat nulla. Pellentesque ultricies est lacus, interdum hendrerit purus lacinia quis. Cras semper pulvinar ornare. Etiam vel sapien ante. Mauris in urna magna. Sed in nibh eu dolor sodales imperdiet. Sed egestas mattis purus ut cursus.</p>
          </div>
          <div class="post-more">
            <a href="post.html" class="btn btn-config">Read More</a>
          </div>
        </article>

        <article class="post">
          <h2 class="entry-title"><a href="post.html">One More Post</a></h2>
          <div class="entry-meta">
            <span class="date"><i class="fa fa-calendar"></i>December 7, 2013</span>
            <span class="author"><i class="fa fa-user"></i>By admin</span>
            <span class="comments"><i class="fa fa-comment"></i><a href="post.html/index.html#comments">5 Comments</a></span>
            <span class="entry-categories"><i class="fa fa-tag"></i>Posted in:  <a href="post.html">Business</a></span>
            <span class="entry-tags"><i class="fa fa-tags"></i>Tags: <a href="post.html">theme</a>, <a href="post.html">marketing</a></span>
          </div>
          <div class="post-thumb">
            <img src="http://placehold.it/848x375" alt="">
          </div>
          <div class="entry-content">
            <p>Sed molestie bibendum lorem, ut semper turpis porttitor sed. Maecenas rutrum, lectus a posuere dignissim, lacus mi adipiscing lorem, a vestibulum erat eros at nisi. Duis pharetra, nibh a tempus luctus, felis lectus fringilla lorem, ac faucibus sapien lorem vel mauris. Vivamus massa nisi, interdum et neque vitae, aliquam lacinia quam. Cras at fringilla magna. Maecenas aliquam tortor purus, eu consequat quam ullamcorper id. Nunc pretium laoreet enim, ac ornare arcu suscipit vel.</p>
          </div>
          <div class="post-more">
            <a href="post.html" class="btn btn-config">Read More</a>
          </div>
        </article>

        <ul class="pager">
          <li class="previous"><a href="#">&larr; Older</a></li>
          <li class="next disabled"><a href="#">Newer &rarr;</a></li>
        </ul>

      </div>
      <!-- Posts End -->

      <!-- Sidebar Start -->
      <div class="col-sm-3 sidebar">
        <aside class="widget widget_recent_posts">
          <h3 class="widget-title">Recent Posts</h3>
          <ul class="submenu">
            <li><a href="post.html">This is your theme</a></li>
            <li><a href="post.html">Reposnsive web design</a></li>
            <li><a href="post.html">Plenty of options</a></li>
            <li><a href="post.html">Full screen slider</a></li>
          </ul>
        </aside>
        <aside class="widget widget_categories">
          <h3 class="widget-title">Categories</h3>
          <ul class="submenu">
            <li><a href="#">Children</a></li>
            <li><a href="#">Fun</a></li>
            <li><a href="#">Learning</a></li>
            <li><a href="#">Activities</a></li>
          </ul>
        </aside>
        <aside class="widget widget_archives">
          <h3 class="widget-title">Archives</h3>
          <ul class="submenu">
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
          </ul>
        </aside>
      </div>
      <!-- Sidebar End -->

    </div>
  </div>
</section>
