<section id="content">
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="{:U('Home/Index/index')}">背包客</a></li>
      <li>联系我们</li>
    </ol>
    <h1>联系我们</h1>
    <div class="gap-20"></div>
    <!-- ========== MAP START ========== -->
    <!-- Google Map Script -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoRMxiPsqJ9SUuaK1KsCAjd3gqnecjlBw&amp;sensor=false"></script>-->
    <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false&language=zh-CN"></script>
    <script type="text/javascript">
      function initialize() {

        // Create an array of styles.
        var styles = [
          {
            stylers: [
              { hue: "#FB9743" },
              { saturation: 0 }
            ]
          },{
            featureType: "road",
            elementType: "geometry",
            stylers: [
              { lightness: 100 },
              { visibility: "simplified" }
            ]
          },{
            featureType: "road",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];
        var styledMap = new google.maps.StyledMapType(styles,
        {name: "Styled Map"});
              var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(34.8114647,113.51124),
        mapTypeControlOptions: {
          mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
        }
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');

        setMarkers(map, places);
      }

      var places = [
        ['万科城', 34.8110795,113.5176816, 1],
        ['须河', 34.8071528,113.515463, 1],
        ['郑州轻工业学院', 34.8088178,113.5106829, 1]
      ];

      function setMarkers(map, locations) {
        // Add markers to the map
        var image = {
          url: 'img/marker.png',
          // This marker is 40 pixels wide by 42 pixels tall.
          size: new google.maps.Size(32, 40),
          // The origin for this image is 0,0.
          origin: new google.maps.Point(0,0),
          // The anchor for this image is the base of the pin at 20,42.
          anchor: new google.maps.Point(16, 35)
        };

        for (var i = 0; i < locations.length; i++) {
          var place = locations[i];
          var myLatLng = new google.maps.LatLng(place[1], place[2]);
          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            //icon: image,
            title: place[0],
            zIndex: place[3],
            animation: google.maps.Animation.DROP
          });

          var contentString = "Some content";
          google.maps.event.addListener(marker, "click", function() {
            infowindow.setContent(this.html);
            infowindow.open(map, this);
          });
        }
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    </div>
    <div id="map-canvas" class="container"></div>
    <div class="container">

    <!-- ========== MAP END ========== -->

    <div class="row">
      <div class="col-sm-6">
        
        <h3>联系信息</h3>
        <p>
          （新校区）科学大道166号, 大学生科技创业中心,<br>
          （老校区）郑州市东风路，5号
        </p>
        <p>
          Phone: 18858395625<br>
          Email: <a href="mailto:zhangchao564265135@hotmail.com">zhangchao564265135@hotmail.com</a><br>
          Web: <a href="#">www.limonplayer.cn</a>
        </p>

      </div>
      <div class="col-sm-6">
        
        <h3>郑州轻工业学院</h3>

        <p>郑州轻工业学院（Zhengzhou University of Light Industry）坐落在河南郑州，创建于1977年，是原国家轻工业部为培养行业高级人才在全国设立的八所本科高校之一，属河南省重点建设高校。</p>

        <p>1998年，郑州轻工业学院转为中央和河南省共建，以地方管理为主。是河南省政府和国家烟草专卖局共建高校、是卓越工程师教育培养计划建设高校。河南省最早开展中外合作办学项目的公立高等学校，河南省最早设立的雅思考试中心，是中南地区唯一的以轻工、食品、电器、工业设计为特色的本科高等院校。</p>

      </div>
    </div>


  </div>
</section>
