<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="柠檬工作室 LimonPlayer Studio">
  <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
  <meta name="author" content="作者：张超 <limonplayer.cn>"
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>背包客Backpacker-校园二手商品信息发布平台</title>
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
  <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
  <link href="__PUBLIC__/css/owl.carousel.css" rel="stylesheet">
  <link href="__PUBLIC__/css/owl.theme.css" rel="stylesheet">
  <link href="__PUBLIC__/css/owl.transitions.css" rel="stylesheet">
  <link href="__PUBLIC__/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/css/config.css" rel="stylesheet">
  <link href="__PUBLIC__/css/docs.min.css" rel="stylesheet">
  <link rel="apple-touch-icon" href="__PUBLIC__/logo-apple-144.png">
  <link rel="icon" href="__PUBLIC__/favicon.ico">
</head>
<body>
  <header id="header" class="">
    <div id="top-bar">
      <div class="container">
        <nav id="shopping-cart">
          <a href="#">
            <i class="icon-shopping-cart"></i> 爱包
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-stack-1x fa-inverse" id="icnum">{$cartnum}</i>
            </span>
          </a>
        </nav>
        <nav id="top-nav" role="navigation" class="navbar">
          <div class="navbar-header">
            <button data-target=".top-nav" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse top-nav">
            <ul class="nav navbar-nav">
              <li>
                <form class="navbar-form navbar-left" style="margin: 0 auto;" role="search" action="{:U('Home/Goods/searchgoods')}" method="get">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="keyword">
                  </div>
                  <button type="submit" class="btn btn-default">Search</button>
                </form>
              </li>
              <li><a href="{:U('Home/Index/about')}">关于</a></li>
              <!--<li><a href="{:U('Home/Index/blog')}">博客</a></li>-->
              <li><a href="{:U('Home/Index/contact')}">联系我们</a></li>
              
              <present name="Think.session.logineduser">
               <li><a href="{:U('/Dashboard/Index/index')}?uid={$Think.session.logineduserid}">欢迎您,{$Think.session.logineduser}!</a></li>
               <li><a href="/Home/User/logout">注销</a></li>
               <else />
               <li><a href="#" data-toggle="modal" data-target="#login_register">登录 / 注册</a></li>
             </present>
           </ul>
         </div>
       </nav>
     </div>
   </div>
   <nav id="main-nav">
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{:U('Home/Index/index')}"><img src="__PUBLIC__/img/logo-hword.png" alt="backpacker" class="img-responsive img-config"></a>
        </div>
        <div class="navbar-collapse collapse main-nav">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">学习资料<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{:U('/Home/Goods/category')}?tid=1">语言类</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=2">理工科类</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=3">文学类</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=4">艺术类</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">衣服/化妆 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{:U('/Home/Goods/category')}?tid=5">男生</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=6">女生</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=7">宝宝</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=8">大叔</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">数码配件 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{:U('/Home/Goods/category')}?tid=9">笔记本</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=10">通讯类</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=11">摄影</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=12">配件</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">娱乐售出 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{:U('/Home/Goods/category')}?tid=13">电影票</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=14">演唱会门票</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=15">免费票</a></li>
                <li><a href="{:U('/Home/Goods/category')}?tid=16">其他</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">其他</a>
              <ul class="dropdown-menu">
                <li><a href="{:U('/Home/Goods/category')}?tid=17">其他</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

</header>

<!-- ========== MENU END ========== -->
<!-- ========== CONTENT START ========== -->
{__CONTENT__}
<!-- ========== CONTENT END ========== -->
<!-- ========== FOOTER START ========== -->


<div id="copyright">
  <div class="container">&copy; Copyright Limonplayer 2016 | All Rights Reserved | Designed by Lanseria</a></div>
  <ul class="bs-docs-footer-links text-muted">
    <li><a href="{:U('Home/Index/index')}">Home</a></li>
    <li>·</li>
    <li><a href="{:U('Home/Index/about')}">About Us</a></li>
    <li>·</li>
    <li><a href="#">What’s New</a></li>
    <li>·</li
      <li><a href="{:U('Home/Goods/category')}">category</a></li>
      <li>·</li>
      <li><a href="{:U('Home/Goods/product')}">product</a></li>
      <li>·</li>
      <li><a href="http://limonplayer.cn">实例精选</a></li>
      <li>·</li>
      <li><a href="http://blog.limonplayer.cn/">官方博客</a></li>
    </ul>
  </div>

</footer>

<!-- ========== FOOTER END ========== -->

<div id="cart-panel" class="panel-left">
  <aside class="widget_shopping_cart">
    <h3>爱包</h3>
    <ul class="cart_list">
      <volist name="cartmsg" id="cartvo" empty="暂时没有货物">
        <li>
          <a href="{:U('Home/Goods/product')}?gid={$cartvo.gid}">
            <img alt="" style="width: 60px;" src="__PUBLIC__/pic/{$cartvo.gimgarray}">
            {$cartvo.gname}
          </a>
          <span class="quantity">{$cartvo.cnum} × <span class="amount">￥{$cartvo.gprice}</span></span>
        </li>
      </volist>
    </ul>
    <p class="total"><strong>预计:</strong> <span class="amount" id="sumspan">￥{$sumPrice}</span></p>
    <p class="buttons">
      <a class="btn btn-default btn-lg btn-block" href="{:U('Home/Goods/cart')}">看爱包</a>
    </p>
  </aside>
</div>
<div class="model">
  <div class="modal fade" id="login_register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">登录</h4>
        </div>
        <div class="modal-body">
          <form role="form" action="{:U('Home/User/login')}" method="post">
            <div class="form-group">
              <input type="email" class="form-control input-lg" id="exampleInputEmail" name="uemail" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" id="exampleInputPassword" name="upwd" placeholder="Password">
            </div>
            <div class="checkbox pull-left">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
            <a href="#" class="pull-left" id="forgot-password">Forgot Your Password?</a>
            <div class="pull-right">
              <button type="submit" class="btn btn-lg btn-config">Log In</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#register">Register</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">注册</h4>
        </div>
        <div class="modal-body">
          <form role="form" action="{:U('Home/User/register')}" method="post" id="regform">
            <div class="form-group">
              <input type="nickname" class="form-control input-lg" id="regUname" name="uname" placeholder="Nickname">
            </div>
            <div class="form-group">
              <input type="email" class="form-control input-lg" id="regEmail" name="uemail" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" id="regPassword" name="upwd" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" id="regCPassword" placeholder="Confirm_The_Password">
            </div>
            <div class="checkbox pull-left">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
            <div class="pull-right">
              <button class="btn btn-lg btn-config" id="formToConfirm">Sign In</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#login_register">Log in</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/owl.carousel.min.js"></script>
<script src="__PUBLIC__/js/jquery.jpanelmenu.min.js"></script>
<script src="__PUBLIC__/js/main.js"></script>
<script type="text/javascript">
  jQuery(function($){
    $('.minus').click(function(){
      if(parseInt($('#Qty').val())-1<=0)
        alert('不能小于等于0');
      else
        $('#Qty').val(parseInt($('#Qty').val())-1);
    })
    var gcounts = $('#gcounts').val();
    $('.plus').click(function(){
      if(parseInt($('#Qty').val())+1>gcounts)
        alert('商家数目只有这么大');
      else
        $('#Qty').val(parseInt($('#Qty').val())+1);
    })
    $('#formToConfirm').click(function(){
      if($('#regUname').val()==""){
        alert('请填写用户名');
        return false;
      }
      else{
        if($('#regEmail').val()==""){
          alert('请填写邮箱');
          return false;
        }
        else{
          if($('#regPassword').val()==""){
            alert('请填写密码');
            return false;
          }
          else{
            if($('#regPassword').val()==""){
              alert('请填写密码');
              return false;
            }
            else{
              if($('#regCPassword').val()==""){
                alert('请填写确认密码');
                return false;
              }
              else{
                if($('#regPassword').val()!=$('#regCPassword').val()){
                  alert('请确认密码一致');
                  return false;
                }
              }
            }
          }
        }
      }
    })
    var isMobile = {  
      Android: function() {  
        return navigator.userAgent.match(/Android/i) ? true : false;  
      },  
      BlackBerry: function() {  
        return navigator.userAgent.match(/BlackBerry/i) ? true : false;  
      },  
      iOS: function() {  
        return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;  
      },  
      Windows: function() {  
        return navigator.userAgent.match(/IEMobile/i) ? true : false;  
      },  
      any: function() {  
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());  
      } 
    }; 
    if(isMobile.any()) {
      $(".banner").hide();
      $('.add-to-cart').hide();
      $('.product_title').css({"font-size":"10px"});
      $('.product').css({"font-size":"10px"});
      $('.hidden-xs').css({"font-size":"10px"});
      $('h3').css({"font-size":"10px"});
    }
    var imglogo=$(".img-config"); 
    var win=$(window); 
    var sc=$(document);
    win.scroll(function(){
      if(sc.scrollTop()>=60){
        imglogo.removeClass("img-config");
        imglogo.addClass("small-logo");
        $("#header").addClass("navbar-fixed-top");
        $("section").css({"margin-top":"150px"});
        $("ul.navbar-right>li").addClass("navtext");
      }else{
       imglogo.removeClass("small-logo");
       imglogo.addClass("img-config");
       $("#header").removeClass("navbar-fixed-top");
       $("section").css({"margin-top":"20px"});
       $("ul.navbar-right>li").removeClass("navtext");
     }
   })
  });
</script>
<script type="text/javascript">
  function addQuestion($gid,$guid){
    var url = "{:U('Home/Ajax/addQuestion')}";
    var data = {"mgid":$gid,"muid":$guid,"mcontent":$('#question').val()};
    var success = function(response){
      if(response){
        alert('提交成功');
        $.ajax({
          url: "{:U('Home/Ajax/returnQuestion')}?mgid="+$gid,
          type: "get",
          dataType: "json",
          success: function (data) {
            var html_inter = '';
            for(var i = 0; i < data.length; i++)
            {
              html_inter += '<li class="comment"><div class="comment_container"><img src="__PUBLIC__/assets/';
              html_inter += data[i]['uavatar'];
              html_inter += '" class="avatar"><div class="comment-text"><h5 class="meta">';
              html_inter += data[i]['uname'];
              html_inter += '<span>&mdash; ';
              html_inter += data[i]['mcreate_time'];
              html_inter += '</span></h5><p>';
              html_inter += data[i]['mcontent'];
              html_inter += '</p></div></div></li>';
            }
            $(".commentlist").empty();
            $(".commentlist").append(html_inter);
            
          }
        });

      }else{
        alert('提交失败');
      }
    }
    $.post(url, data ,success, "json");
  }
  function addCart($gid){
    //ajax请求php脚本完成书库的添加 b_cart
    var url = "{:U('Home/Ajax/addCart')}";
    var data = {"gid":$gid,"cnum":isNaN(parseInt($("#Qty").val())) ? 1 : parseInt($("#Qty").val())};
    var success = function(response){
      if(response=='Nouser'){
        alert(response+'请先登录注册');
      }
      else{
        if(response)
        {
          alert('加入爱包成功');
        //添加ajax请求更新爱包
        $.ajax({
          url: "{:U('Home/Ajax/seeCart')}",
          type: "post",
          dataType: "json",
          success: function (data) {
            $('#icnum').html(data['cartnum']);
            $('.amount').html(data['sumPrice']);
            var html_inter = '';
            for(var i = 0; i < data['cartmsg'].length; i++)
            {
              html_inter += '<li><a href="'+'{:U('Home/Goods/product')}'+'?gid=';
              html_inter += data['cartmsg'][i]['gid'];
              html_inter += '"><img alt="" style="width: 60px;" src="__PUBLIC__/pic/';
              html_inter += data['cartmsg'][i]['gimgarray'];
              html_inter += '">';
              html_inter += data['cartmsg'][i]['gname'];
              html_inter += '</a><span class="quantity">';
              html_inter += data['cartmsg'][i]['cnum'];
              html_inter += ' × <span class="amount">￥';
              html_inter += data['cartmsg'][i]['gprice'];
              html_inter += '</span></span></li>';
            }
            $(".cart_list").empty();
            $(".cart_list").append(html_inter);
          }
        });
      }
      else{
        alert('加入失败');
      }
    }
  }
  $.post(url, data ,success, "json");
}
</script>
</body>
</html>
