        <div class="main-content">
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <li>
                <i class="icon-home home-icon"></i>
                <a href="#">Dashboard</a>
              </li>
              <li class="active">个人中心</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>

          <div class="page-content">
            <div class="page-header">
              <h1>
                个人中心
                <small>
                  <i class="icon-double-angle-right"></i>
                  2处信息可以修改
                </small>
              </h1>
            </div><!-- /.page-header -->

            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="hr dotted"></div>
                <div class="">
                  <div id="user-profile-3" class="user-profile row">
                    <div class="col-sm-offset-1 col-sm-10">
                      <div class="well well-sm">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        &nbsp;
                        <div class="inline middle blue bigger-110"> Your profile is 70% complete </div>

                        &nbsp; &nbsp; &nbsp;
                        <div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active">
                          <div class="progress-bar progress-bar-success" style="width:70%"></div>
                        </div>
                      </div><!-- /well -->

                      <div class="space"></div>

                      <form class="form-horizontal">
                        <div class="tabbable">
                          <ul class="nav nav-tabs padding-16">
                            <li class="active">
                              <a data-toggle="tab" href="#edit-basic">
                                <i class="green icon-edit bigger-125"></i>
                                基本信息
                              </a>
                            </li>

                            <li>
                              <a data-toggle="tab" href="#edit-password">
                                <i class="blue icon-key bigger-125"></i>
                                修改密码
                              </a>
                            </li>
                          </ul>

                          <div class="tab-content profile-edit-tab-content">
                            <div id="edit-basic" class="tab-pane in active">
                              <h4 class="header blue bolder smaller">基本</h4>

                              <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                  <input type="file" />
                                </div>

                                <div class="vspace-xs"></div>

                                <div class="col-xs-12 col-sm-8">
                                  <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Username</label>

                                    <div class="col-sm-8">
                                      <input class="col-xs-12 col-sm-10" type="text" id="form-field-username" placeholder="Username" value="alexdoe" />
                                    </div>
                                  </div>

                                  <div class="space-4"></div>

                                  <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Name</label>

                                    <div class="col-sm-8">
                                      <input class="input-small" type="text" id="form-field-first" placeholder="First Name" value="Alex" />
                                      <input class="input-small" type="text" id="form-field-last" placeholder="Last Name" value="Doe" />
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <hr />
                              <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Birth Date</label>

                                <div class="col-sm-9">
                                  <div class="input-medium">
                                    <div class="input-group">
                                      <input class="input-medium date-picker" id="form-field-date" type="text" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" />
                                      <span class="input-group-addon">
                                        <i class="icon-calendar"></i>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="space-4"></div>

                              <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Gender</label>

                                <div class="col-sm-9">
                                  <label class="inline">
                                    <input name="form-field-radio" type="radio" class="ace" />
                                    <span class="lbl"> Male</span>
                                  </label>

                                  &nbsp; &nbsp; &nbsp;
                                  <label class="inline">
                                    <input name="form-field-radio" type="radio" class="ace" />
                                    <span class="lbl"> Female</span>
                                  </label>
                                </div>
                              </div>

                              <div class="space-4"></div>

                              <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-comment">Comment</label>

                                <div class="col-sm-9">
                                  <textarea id="form-field-comment"></textarea>
                                </div>
                              </div>

                              <div class="space"></div>
                              <h4 class="header blue bolder smaller">联系方式</h4>

                              <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-email">Email</label>

                                <div class="col-sm-9">
                                  <span class="input-icon input-icon-right">
                                    <input type="email" id="form-field-email" value="" placeholder="example@qq.com" />
                                    <i class="icon-envelope"></i>
                                  </span>
                                </div>
                              </div>

                              <div class="space-4"></div>

                              <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-phone">Phone</label>

                                <div class="col-sm-9">
                                  <span class="input-icon input-icon-right">
                                    <input class="input-medium input-mask-phone" type="text" id="form-field-phone" />
                                    <i class="icon-phone icon-flip-horizontal"></i>
                                  </span>
                                </div>
                              </div>
                              <div class="space"></div>
                              <div class="space-4"></div>
                            </div>

                            <div id="edit-password" class="tab-pane">
                              <div class="space-10"></div>

                              <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">New Password</label>

                                <div class="col-sm-9">
                                  <input type="password" id="form-field-pass1" />
                                </div>
                              </div>

                              <div class="space-4"></div>

                              <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirm Password</label>

                                <div class="col-sm-9">
                                  <input type="password" id="form-field-pass2" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="clearfix form-actions">
                          <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="button">
                              <i class="icon-ok bigger-110"></i>
                              Save
                            </button>

                            &nbsp; &nbsp;
                            <button class="btn" type="reset">
                              <i class="icon-undo bigger-110"></i>
                              Reset
                            </button>
                          </div>
                        </div>
                      </form>
                    </div><!-- /span -->
                  </div><!-- /user-profile -->
                </div>

                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
